.fil-sub-menu-container {
  button {
    width: 50%;
    margin-bottom: 10px;
  }
}

#fil-basic-search,
#fil-adv-filters {
  > div {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
  }
}

#fil-basic-search {
  .fil-dropdown-specific-field {
    .fil-dropdown-list {
      margin: 0px;
    }
  }
  #fil-week-hours {
    width: 100%;

    label[for="fil-week-hours"] {
      display: block;
      width: 75px;
      margin-right: 0px;
    }
    .fil-hour-dropdown {
      padding-left: 12px;
      width: 130px;
    }
    #fil-hourTo {
      display: none;
    }
  }
}

.fil-credits,
#fil-class-size {
  display: block;
  .fil-credit-dropdown {
    min-height: 35px;
    width: 130px;
    padding-left: 12px;
  }
  .fil-input-number {
    min-height: 35px;
    text-align: center;
    display: none;
    &:invalid {
      border-color: red;
    }
  }
}

.fil-search-container {
  input {
    padding: 3px;
    padding-left: 12px;
    margin-left: 12px;
    width: 400px;
    font-size: 15px;
  }
}

#fil-adv-filters {
  &.hidden {
    display: none;
  }
  div {
    margin-bottom: 10px;

    select {
      height: 35px;
      line-height: 35px;
      border-radius: 4px;
      padding-left: 12px;
      width: 60px;
    }
  }
}

.fil-btn {
  margin-left: auto;
  height: 40px;
  margin: 5px;
  margin-top: 10px;
  font-size: 12px;
  min-width: 25%;
  text-align: center;
}

.fil-border {
  border: 1px solid $black-30;
  margin: 0px;

  h2{
    text-align: center;
  }

  div{
    margin-bottom: 6px;
  }

  label{
    margin-left: 12px;
    margin-bottom: 12px;
  }

  select{
    margin: 12px;
    width: 200px;
    padding-left: 12px;
  }

}

.fil-center{
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.fil-padding-left{
  padding-left: 12px;
}