.fdropdown {
    margin-bottom: 10px;
    &.week-dropdown {
        .multiselect-dropdown {
            display: inline-block;
            width: 90%;
            .selected-item {
                margin: 3px;
            }
        }
    }
    &.hour-dropdown{
        height: 40px;
        width: 100%;
        border-radius: 4px;
        &#hourTo {
            display: none;
        }
    }
    &.search-dropdown {
        .multiselect-dropdown {
            display: inline-block;
            width: 10%;
            .selected-item {
                margin: 3px;
            }
        }
    }
}

.credits,#class-size{
    display: inline-block;
    .credit-dropdown{
        height: 38px;
    }
    .input-number{
        text-align: center;
        display: none;
        margin-bottom: 10px;
        &:invalid {
            border-color: red;
          }
    }
}

.search-container{
    margin: 20px;
    display:inline-block;
    
    input {
        width: 96%;
        padding: 3px;
    }
    .error-msg{
        position: absolute;
        visibility: hidden;
    }
}



.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }