
<div class="fil-border">
  <h2>Búsqueda</h2>
</div>

<div class="fil-border">
  <div class="fil-sub-menu-container grid-noGutter">
    <button id="basic-search" class="atom-buttons-secondary" (click)='clickedTab($event)'>Básica</button>
    <button id="adv-search" class="atom-buttons-secondary" (click)='clickedTab($event)'>Avanzada</button>
  </div>
  <div class="grid-noGutter" id="fil-basic-search">
  
    <div id="fil-search-fields" class="col-12 grid-noGutter"> 
      <label for="fil-search-fields" class="col-12">
        <strong>Búsqueda de Texto</strong>
      </label>
      <div class="fil-search-container col-12">
        <input [(ngModel)]="searchBox" [value]="searchBox" type="text" class="col-12 atom-input-field ng-pristine ng-valid ng-touched" id="fil-searchBox"
          placeholder="Buscar..">
        <div class="error-msg" id="fil-error-searchBox"></div>
      </div>
      
        <ng-multiselect-dropdown class="col-12 dropdown-specific-field atom-custom-margin" [placeholder]="'Búscar en Campo Específico'"
          [data]="dropdownListSearch" [(ngModel)]="selectedItemsSearch" [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
    </div>
  
    <div id="fil-week-days" class="col-12 grid-noGutter">
      <label class="col-12" for="fil-week-days">
        <strong>Dias de la Semana </strong>
      </label>
      <ng-multiselect-dropdown class="col-12 atom-custom-margin" [placeholder]="'Dias de la Semana'" [data]="dropdownListWeek"
        [(ngModel)]="selectedItemsWeek" [settings]="dropdownSettings">
      </ng-multiselect-dropdown>
      <div id="fil-day-comparator-state" class="col-12 grid-noGutter">
        <input class="col-1" type="radio" name="fil-day-comparator" value="1" id="selected-days" [(ngModel)]="dayComparator">
        <label class="col-4">Buscar solamente en los días seleccionados</label>
        <input class="col-1" type="radio" name="fil-day-comparator" value="0" id="all-days" [(ngModel)]="dayComparator">
        <label class="col-4">Buscar en cualquiera de estos días</label>
      </div>
    </div>
  
    <div id="fil-week-hours">
      <label for='fil-week-hours'>
        <strong>Franja Horaria</strong>
      </label>
      <select id="fil-hourFrom" class="fil-hour-dropdown col-6 atom-dropdown" [(ngModel)]="selectedOptionFrom"
        (ngModelChange)="onChangeFromHour($event)">
        <option value="" disabled selected>Hora inicial</option>
        <option *ngFor="let hour of hoursFrom">
          {{hour}}
        </option>
      </select>
      <select id="fil-hourTo" [(ngModel)]="selectedOptionTo" class="fil-hour-dropdown col-6 atom-dropdown" data-push-left="off-2">
        <option value="" disabled selected>Hora final</option>
        <option *ngFor="let hour of hoursTo">
          {{hour}}
        </option>
      </select>
    </div>
  
    <div id="fil-credit-selector" class="fil-credits col-12 grid-noGutter">
      <label for="fil-credit-selector" class="col-12">
        <strong>Número de Creditos</strong>
      </label>
      <select [hidden]="!shouldDisplayCreditValue1" class="col-6 atom-dropdown" [(ngModel)]="selectedCreditValue1"
        (ngModelChange)="onChangeCreditValue1($event)">
        <option [disabled]="value.disabled" *ngFor="let value of creditValue1">
          {{value.value}}
        </option>
      </select>
      <select id="fil-creditLogicOp" [(ngModel)]="creditsComparator" (ngModelChange)="onChangeFromCredit($event)"
        class="fil-credit-dropdown col-12 atom-dropdown">
        <option value="" disabled selected>Filtrar Por Creditos</option>
        <option *ngFor="let comparator of creditsComparatorOptions | keyvalue" [ngValue]="comparator">
          {{comparator.value}}
        </option>
      </select>
  
      <select [hidden]="!shouldDisplayCreditValue2" class="col-6 atom-dropdown" [(ngModel)]="selectedCreditValue2">
        <option [disabled]="value.disabled" *ngFor="let value of creditValue2">
          {{value.value}}
        </option>
      </select>
    </div>
  
  </div>
  
  <div id="fil-adv-filters" class="grid-noGutter hidden">
  
    <div id="fil-id-filter" class="col-12 grid-noGutter">
      <label for="fil-id-filter" class="col-12">
        <strong>ID Curso</strong>
      </label>
      <input type="text" [(ngModel)]="searchedFilterId" class="col-11 atom-input-field" />
    </div>
  
    <div id="fil-number-filter" class="col-12 grid-noGutter">
      <label for="fil-number-filter" class="col-12">
        <strong>Número de Clase</strong>
      </label>
      <input type="number" [(ngModel)]="searchedFilterNumber" class="col-11 atom-input-field" />
    </div>
  
    <div id="fil-schoolyear-filter" class="col-12 grid-noGutter">
      <label for="fil-schoolyear-filter" class="col-12">
        <strong>Ciclo Lectivo</strong>
      </label>
      <select [(ngModel)]="year" class="col-4 atom-dropdown">
        <option [ngValue]="defaultTeachingMode" selected>{{defaultTeachingMode}}</option>
        <option *ngFor="let schoolyear of dropdownSchoolYear">
          {{schoolyear}}
        </option>
      </select>
    </div>
  
    <div id="fil-class-state" class="col-12 grid-noGutter">
      <label for="fil-class-state" class="col-12">
        <strong>Estado</strong>
      </label>
      <input id="{{openStateCheckbox.id}}" type="checkbox" [(ngModel)]="openStateCheckbox.isChecked" class="col-1" />
      <label class="col-4">{{openStateCheckbox.name}}</label>
      <input id="{{closedStateCheckbox.id}}" type="checkbox" [(ngModel)]="closedStateCheckbox.isChecked" class="col-1" />
      <label class="col-4">{{closedStateCheckbox.name}}</label>
    </div>
  
    <div id="fil-grade-filter" class="col-12 grid-noGutter">
      <label for="fil-garde-filter" class="col-12">
        <strong>Grado</strong>
      </label>
      <select [(ngModel)]="gradeFilter" class="col-4 atom-dropdown">
        <option [ngValue]="defaultTeachingMode" selected>{{defaultTeachingMode}}</option>
        <option *ngFor="let grade of dropdownGrades" [ngValue]="grade.value">
          {{grade.name}}
        </option>
      </select>
    </div>
  
    <div id="fil-class-size" class="col-12 grid-noGutter">
      <label for="fil-class-size">
        <strong>Cupos Disponibles</strong>
      </label>
      <select [hidden]="!shouldDisplaySizeValue1" class="col-6 atom-dropdown" [(ngModel)]="selectedSizeValue1"
        (ngModelChange)="onChangeSizeOne($event)">
        <option [disabled]="value.disabled" *ngFor="let value of sizeValue1">
          {{value.value}}
        </option>
      </select>
      <select id="fil-sizeLogicOp" [(ngModel)]="sizeComparator" (ngModelChange)="onChangeFromClassSize($event)"
        class="fil-fdropdown fil-credit-dropdown col-12 atom-dropdown">
        <option [ngValue]="defaultTeachingMode" selected>{{defaultTeachingMode}}</option>
        <option *ngFor="let comparator of sizeComparatorOptions | keyvalue" [ngValue]="comparator">
          {{comparator.value}}
        </option>
      </select>
      <select [hidden]="!shouldDisplaySizeValue2" class="col-6 atom-dropdown" [(ngModel)]="selectedSizeValue2">
        <option [disabled]="value.disabled" *ngFor="let value of sizeValue2">
          {{value.value}}
        </option>
      </select>
    </div>
  
    <div id="fil-teaching-mode" class="col-12 grid-noGutter">
      <label for="fil-teaching-mode" class="col-12">
        <strong>Modo de Enseñanza:</strong>
      </label>
      <select name="selectTeachingMode" [(ngModel)]="selectedTeachingMode" class="col-4 atom-dropdown">
        <option [ngValue]="defaultTeachingMode" selected>{{defaultTeachingMode}}</option>
        <option *ngFor="let tMode of teachingModeDropdown" [ngValue]="tMode.value">{{tMode.name}}</option>
      </select>
    </div>
  
  </div>

  <div class="fil-center">
    <button class="atom-buttons-primary" (click)="searchClasses()">Buscar</button>
    <button class="atom-buttons" (click)="CleanAll()">Limpiar</button>
  </div>
</div>