<div id="adv-filters">


  <div id="teaching-mode">
    <label for="teaching-mode">Modo de Enseñanza</label>
    <select name="selectTeachingMode" [(ngModel)]="selectedTeachingMode">
      <option [ngValue]="defaultTeachingMode" selected>{{defaultTeachingMode}}</option>
      <option *ngFor="let tMode of teachingModeDropdown" [ngValue]="tMode.value">{{tMode.name}}</option>
    </select>
  </div>


  <div id="class-state">
    <label for="class-state">Estado</label>
    <input id="{{openStateCheckbox.id}}" type="checkbox" [(ngModel)]="openStateCheckbox.isChecked"> {{openStateCheckbox.name}}
    <input id="{{closedStateCheckbox.id}}}" type="checkbox" [(ngModel)]="closedStateCheckbox.isChecked"> {{closedStateCheckbox.name}}
  </div>


  <div id="id-filter">
    <label for="id-filter">ID</label>
    <input type="text" [(ngModel)]="searchedFilterId">
  </div>


  <div id="number-filter">
    <label for="number-filter">Número de Clase</label>
    <input type="number" [(ngModel)]="searchedFilterNumber">
  </div>


  <div id="code-filter">
    <label for="code-filter">Codigo de Clase</label>
    <input type="number" [(ngModel)]="searchedFilterCode">
  </div>

  <div id="schoolyear-filter">
    <label for="schoolyear-filter">Ciclo Lectivo</label>
    <select [(ngModel)]="year">
        <option [ngValue]="defaultTeachingMode" selected>{{defaultTeachingMode}}</option>
      <option *ngFor="let schoolyear of dropdownSchoolYear">
        {{schoolyear}}
      </option>
    </select>
  </div>

  <div id="grade-filter">
      <label for="garde-filter">Grado</label>
      <select [(ngModel)]="gradeFilter">
          <option [ngValue]="defaultTeachingMode" selected>{{defaultTeachingMode}}</option>
        <option *ngFor="let grade of dropdownGrades" [ngValue]="grade.value">
          {{grade.name}}
        </option>
      </select>
    </div>

  <div id="class-size">
    <label for="class-size">Cupos Disponibles</label>
    <input id="class-size-input-1" class="input-number" required="required" type="text" maxlength="2" pattern="\d{1,2}" [(ngModel)]="sizeValue1"
      [value]="sizeValue1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" (ngModelChange)="onChangeInputSizeOne($event)"
    />
    <select id="sizeLogicOp" [(ngModel)]="sizeComparator" (ngModelChange)="onChangeFromClassSize($event)">
      <option [ngValue]="defaultTeachingMode" selected>{{defaultTeachingMode}}</option>
      <option *ngFor="let comparator of sizeComparatorOptions | keyvalue" [ngValue]="comparator">
        {{comparator.value}}
      </option>
    </select>
    <input id="class-size-input-2" class="input-number" required="required" type="text" maxlength="2" pattern="\d{1,2}" [(ngModel)]="sizeValue2"
      [value]="sizeValue2" oninput="this.value=this.value.replace(/[^0-9]/g,'');" (ngModelChange)="onChangeInputSizeTwo($event)"
    />
  </div>

  <button class="filter-btn" (click)="searchClasses()">Buscar</button>
</div>