.cal-menu-container {
  margin-top: 51px;
  
  .mat-tab-group {
    flex-direction: row;
  }
  .mat-tab-header {
    border-bottom: none;
  }
  .mat-tab-header-pagination {
    display: none !important;
  }
  .mat-tab-labels {
    flex-direction: column;
  }
  .mat-ink-bar {
    display: none;
  }
  .mat-tab-body-wrapper {
    flex: 1 1 auto;
  }
  .mat-tab-body-content {
    border: 1px solid $black-20;
  }
  .mat-tab-body.mat-tab-body-active {
    overflow-y: hidden;
  }
  .mat-tab-label {
    
    min-height: 56px;
    padding-top: 2px;
    
    border: solid 2px #2c5697;
    min-width: 56px;
    padding: 0;
    color: #2c5697;

    &:hover{
      min-height: 56px;
      min-width: 56px;
      border: solid 2px #2c5697;
      background-color: #d4dce9;
      color:white;
    }
   
  }
  .mat-tab-label:focus{
    
      padding-top: 2px;
   min-width: 56px;
   min-height: 56px;
   box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.16);
   border: solid 2px #f8cd00;
   background-color: #fcea98;
   color: white;
   
  }
  
  .mat-tab-label-active {
     padding-top: 2px;
    min-width: 56px;
    min-height: 56px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #f8cd00;
    background-color: #fcea98;
    color: white;
  }
  
  .mat-tab.label-disabled{
    padding-top: 2px;
    min-width: 56px;
    min-height: 56px;
  border: solid 2px #d4dce9;
  color: "#d4dce9"

  }

}

.movilMenu{
  
  
  display: none;
  @media (max-width: $vp-mobile) {
    
    display: block;
    

  }
  .mat-tab-body-content {
    
    margin-bottom: 50px;
}
  .mat-tab-header{
    position: fixed;
    bottom: 0;
    background-color: white;
    justify-content: center;
    width: 100%;
    
    z-index: 101;
  }
  .mat-tab-labels{
    justify-content: center;
    width: 100%;
    
    
    
  }
  .mat-tab-label {
    
    min-height: 56px;
    padding-top: 2px;
    margin-left: 27px;
    border: solid 2px white;
    min-width: 56px;
    padding:0;
    color: #2c5697;
  }
  .mat-tab-label-content i{
    font-size: 32px;
  }
  .mat-tab.label:focus{
    padding-top: 2px;
    min-width: 56px;
    min-height: 56px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #f8cd00;
    background-color: #fcea98;
    color: white;
 }
 
  
  .mat-tab-label-active {
     padding-top: 2px;
    min-width: 56px;
    min-height: 56px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #f8cd00;
    background-color: #fcea98;
    color: white;
  }
  
  .mat-tab.label-disabled{
    padding-top: 2px;
    min-width: 56px;
    min-height: 56px;
  border: solid 2px #d4dce9;
  color: "#d4dce9"

  }
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background-color: #f8cd00;
  }
  
  
}



.cal-week-view .cal-time-events .cal-event {
  width: calc(100% - 12px);
}

.cal-day-view {
  margin-right: 5px;

  .cal-hour-rows {
    overflow-x: inherit;
  }
}

.cal-day-view .cal-event-container {
  width: calc(100% - 70px) !important;
  @media (max-width: $vp-mobile) {
    margin-left: 0 !important;
    width: 100% !important;
  }
}
.cal-display-sm {
  display: none;
  @media (max-width: $vp-mobile) {
    display: block;
  }
}

.remove-icon {
  color: red;
}

.ovr-confirm-dialog {
  .ovr-displayed-data-dailog {
    text-transform: capitalize;
    font-weight: bold;
  }
  .ovr-dialog-btn {
    margin-right: 10px;
  }

  &__subjects {
    &-list {
      list-style: none;
    }
  }
}

.cal-conflict-msj{
  span{
    font-size: 18px;
    font-family: $font-secondary;
    font-weight: bold;
  }
  i{
    color:red;
    position: relative;
    top: 3px;
    left: 5px;
    font-size: 20px;
  }
}
.cal-hour-segment {
  cursor: cell;
}

// Estilos calendario
.cal-schedule-container {
  .cal-view-container {
    border-top: 1px solid $black-20;
  }
}

.cal-display-lg {
  .cal-week-view {
    font-family: $font-secondary;

    .cal-time {
      text-align: right;
      width: 50px;
      cursor: default;
      font-size: 15px;
      font-weight: 500;
    }

    .cal-day-headers {
      border: none;

      .cal-header {
        padding-top: 24px;

        &:first-child {
          border-left: none;
        }
        &:not(:last-child) {
          border-right: none;
        }

        br {
          height: $space-sm;
        }

        b {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 18px;
          line-height: $space-xl;
        }

        span {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 14px;
          font-style: italic;
          line-height: $space-xl;
          color: $black-40;
        }
      }

      .cal-weekend {
        span {
          color: $black-40;
        }
      }

      .cal-today {
        background-color: $white;
      }
    }

    .cal-hour-odd {
      background-color: $white;
    }

    .cal-time-events {
      border: none;

      .cal-time-label-column {
        .cal-hour {
          &-segment,
          &-start {
            border-bottom: none;
          }
        }
      }
    }

    .cal-day-columns {
      .cal-day-column {
        border-left: none;
        border-top: thin dashed $black-10;

        .cal-hour {
          .cal-hour-segment {
            border-left: thin dashed $black-10;

            &:last-child {
              border-bottom: thin dashed $black-10;
            }
          }
        }

        &:last-child {
          border-right: thin dashed $black-10;
        }
      }
    }
  }
}

.cal-display-sm {
  font-family: $font-secondary;

  .cal-hour-rows {
    border: none;
  }

  .cal-day-text {
    border-top: 1px solid $black-20;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    padding-top: $space-xl;
    padding-bottom: $space-xl;
  }

  .cal-day-view {
    margin-right: 0;

    .cal-hour-segment {
      border-bottom:thin solid #707070 !important;
      position: relative;
    }

    .cal-time {
      padding-top: $space-sm;
      padding-right: $space-sm;
      font-size: 12px;
      font-style: italic;
      float: right;
      text-align: right;
      font-weight: 500;
      @media (max-width: $vp-mobile){
        color:#cbcbcb;
      }
    }

    .cal-hour {
      background-color: $white;
      border-top: 1px solid $black-20;
      max-height: 35px;
    }
  }
}

//Estilos de clases

.cal-schedule-container{
  .cdk-drop-list{
    [class|="cal-display"]{
      .cal-block{
        div.cal-event{
          background-color: $black-40 !important;
          border: solid 0.5px #6c6c6c !important;
          .remove-icon{
            color:$black;
            font-weight: bold;
          }
          .cal-event-title{
            font-size: 11px;
            color:$black;
            display: block;
            height: 100%;
            text-align: center;
            margin-top: 6px;
            @media (max-width: $vp-mobile) {
              padding: 6px 30px;
            }
          }
        }
      }
      div.cal-event{
        width: 100%;
        border-radius: 0;
        padding: 0;
        margin: 0;
        height:100%;
        background: $dark-blue !important;
        border: solid 0.1px;
        @media (max-width: $vp-mobile) {
          border:0;
        }
        .cal-event-action,.remove-icon{
          float:right;
          font-size: 16px;
          z-index: 50;
          position: relative;
          color:$yellow-90;
          @media (max-width: $vp-mobile) {
            float:left;
          }
        }
        .cal-event-title{
          .cal-class-title{
            font-family: $font-secondary;
            font-size: 12px;
            text-transform: lowercase;
            line-height: normal;
            height: 100%;
            position: relative;
            font-style: italic;
            color: $white;
            display: inline-block;
            width: 80%;
            padding-top: 4px;
            padding-left: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            &::first-letter{
              text-transform: capitalize;
            }
            @media (max-width: $vp-mobile) {
              top: -2px;
            }
          }
            .cal-class-size-alert{
              font-style: italic;
              font-size: 9px;
              font-family: $font-secondary;
              position: absolute;
              bottom: 0;
              text-align: right;
              @media (max-width: $vp-mobile) {
                text-align: left;
                left:15px;
              }
              padding-right: 15px;
              padding-left: 5px;
              margin:0;
              margin-bottom: 4px;
              width: 100%;
              text-transform: capitalize;
              color: $white;
              line-height: normal;
              overflow: hidden;
              text-overflow: ellipsis;
            }
        }
      }
    }
  }
}
.cal-buttons-weekend-right {

  background: transparent;
  background-image: url(https://www.shareicon.net/data/48x48/2015/09/13/100299_keyboard_512x512.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 40px;
  width: 40px;
  border: none;

}

.cal-buttons-weekend-left {

  background: transparent;
  background-image: url(https://www.shareicon.net/data/48x48/2015/09/13/100296_keyboard_512x512.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 40px;
  width: 40px;
  border: none;

}
