<app-block-modal (messageEvent)="receiveMessage($event)"></app-block-modal>
<div class="menu-container col-4_xs-12_sm-12_md-12_lg-4">

  <!--
    verticalMenuIndex es una variable numérica del componente que le indica al menú
    qué pestaña debe seleccionar. Así mismo, el menú le indica el número de la pestaña
    que el usuario seleccione. El primer index del menú comienza en 0.
  -->
  <mat-tab-group [(selectedIndex)]="verticalMenuIndex">
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="material-icons">
          search
        </i>
      </ng-template>

      <h2>Búsqueda</h2>
      <div class="sub-menu-container">
        <mat-tab-group>

          <mat-tab label="Básica">
            <app-filter></app-filter>
          </mat-tab>

          <mat-tab label="Avanzada">
            <app-adv-filter></app-adv-filter>
          </mat-tab>

        </mat-tab-group>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <i class="material-icons">
          bar_chart
        </i>
      </ng-template>

      <app-display-classes [calendarList]="calendarList"></app-display-classes>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <i class="material-icons">
          shopping_cart
        </i>
      </ng-template>
      <h2>Carrito de compras</h2>

    </mat-tab>
  </mat-tab-group>
</div>

<div class="schedule-container col-8_xs-12_sm-12_md-12_lg-8">
  <!--
  The steps to customize the Calendar was taken from here https://github.com/mattlewis92/angular-calendar#how-do-i-use-a-custom-template

  The difference between this template and the default one is that this doesn't show the date of the day, just the name.
-->
  <ng-template #customTemplateJPlanner let-days="days" let-locale="locale" let-dayHeaderClicked="dayHeaderClicked"
    let-eventDropped="eventDropped">
    <div class="cal-day-headers">
      <div class="cal-header" *ngFor="let day of days; trackBy:trackByWeekDayHeaderDate" [class.cal-past]="day.isPast"
        [class.cal-today]="day.isToday" [class.cal-future]="day.isFuture" [class.cal-weekend]="day.isWeekend" [ngClass]="day.cssClass"
        (mwlClick)="dayHeaderClicked.emit({day: day})" mwlDroppable dragOverClass="cal-drag-over" (drop)="eventDropped.emit({event: $event.dropData.event, newStart: day.date})">
        <b>{{ day.date | calendarDate:'weekViewColumnHeader':locale }}</b>
        <br>
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="customTemplate || defaultTemplate" [ngTemplateOutletContext]="{days: days, locale: locale, dayHeaderClicked: dayHeaderClicked, eventDropped: eventDropped}">
    </ng-template>
  </ng-template>

  <br />

  <!--
  The Attributes of the views changed were:
  - hourSegments: from default 2 to 1
  - dayStartHour: from default 0 to 7
  - dayEndHour: from default 23 to 22
-->
  <div cdkDropList #calendarList="cdkDropList" (cdkDropListDropped)="dropClass($event)" class="grid-noGutter">
    <mwl-calendar-week-view [viewDate]="viewDate" [events]="classes" [refresh]="refresh" [hourSegments]="1"
      [dayStartHour]="7" [dayEndHour]="22" [headerTemplate]="customTemplateJPlanner" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)" class="sm-hidden col-12">
    </mwl-calendar-week-view>
    <div class="cal-display-sm col-12">
      <!--
      This button group helps testing the behaviour of switching the day in a Day View.
      -->
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
          Next
        </div>
      </div>

      <!--
        The actual View Day Template doesn't show the name of the day, this block is just to display the name of the day.
      -->

      <div>
        <b>{{ viewDate | calendarDate:'weekViewColumnHeader':locale }}</b>
      </div>

      <mwl-calendar-day-view [viewDate]="viewDate" [events]="classes" [refresh]="refresh" [hourSegments]="1"
        [dayStartHour]="7" [dayEndHour]="22" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>

    </div>
  </div>

</div>