.cal-menu-container {
  .mat-tab-group {
    flex-direction: row;
  }
  .mat-tab-header {
    border-bottom: none;
  }
  .mat-tab-header-pagination {
    display: none !important;
  }
  .mat-tab-labels {
    flex-direction: column;
  }
  .mat-ink-bar {
    display: none;
  }
  .mat-tab-body-wrapper {
    flex: 1 1 auto;
  }
  .mat-tab-body-content {
    padding: 20px;
  }
  .mat-tab-body.mat-tab-body-active {
    overflow-y: hidden;
  }
  .mat-tab-label {
    
    min-height: 56px;
    padding-top: 2px;
    border: solid 2px #2c5697;
    min-width: 56px;
    padding: 0;
    color: #2c5697;

    &:hover{
      min-height: 56px;
      min-width: 56px;
      border: solid 2px #2c5697;
      background-color: #d4dce9;
      color:white;
    }
  }
  
  .mat-tab-label-active {
     padding-top: 2px;
    min-width: 56px;
    min-height: 56px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #f8cd00;
    background-color: #fcea98;
    color: white;
  }
  
  .mat-tab.label-disabled{
    padding-top: 2px;
    min-width: 56px;
    min-height: 56px;
  border: solid 2px #d4dce9;
  color: "#d4dce9"

  }

}

.cal-week-view .cal-time-events .cal-event {
  width: calc(100% - 12px);
}

.cal-day-view {
  margin-right: 5px;

  .cal-hour-rows {
    overflow-x: inherit;
  }
}

.cal-day-view .cal-event-container {
  width: calc(100% - 70px) !important;
}
.cal-display-sm {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.remove-icon {
  color: red;
}

.ovr-confirm-dialog {
  .ovr-displayed-data-dailog {
    text-transform: capitalize;
    font-weight: bold;
  }
  .ovr-dialog-btn {
    margin-right: 10px;
  }
}

.cal-hour-segment {
  cursor: cell;
}

// Estilos calendario
.cal-display-lg {
  .cal-week-view {
    font-family: $font-secondary;

    .cal-time {
      text-align: right;
      width: 50px;
      cursor: default;
      font-size: 15px;
      font-weight: 500;
    }

    .cal-day-headers {
      border: none;

      .cal-header {
        padding-top: 24px;

        &:first-child {
          border-left: none;
        }
        &:not(:last-child) {
          border-right: none;
        }

        br {
          height: $space-sm;
        }

        b {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 18px;
          line-height: $space-xl;
        }

        span {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 14px;
          font-style: italic;
          line-height: $space-xl;
          color: $black-40;
        }
      }

      .cal-weekend {
        span {
          color: $black-40;
        }
      }

      .cal-today {
        background-color: $white;
      }
    }

    .cal-hour-odd {
      background-color: $white;
    }

    .cal-time-events {
      border: none;

      .cal-time-label-column {
        .cal-hour {
          &-segment,
          &-start {
            border-bottom: none;
          }
        }
      }
    }

    .cal-day-columns {
      .cal-day-column {
        border-left: none;
        border-top: thin dashed $black-10;

        .cal-hour {
          .cal-hour-segment {
            border-left: thin dashed $black-10;

            &:last-child {
              border-bottom: thin dashed $black-10;
            }
          }
        }

        &:last-child {
          border-right: thin dashed $black-10;
        }
      }
    }
  }
}

.cal-display-sm {
  font-family: $font-secondary;

  .cal-hour-rows {
    border: none;
  }

  .cal-day-text {
    border-top: 1px solid $black-20;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    padding-top: $space-xl;
    padding-bottom: $space-xl;
  }

  .cal-day-view {
    margin-right: 0;

    .cal-hour-segment {
      border: none;
    }

    .cal-time {
      padding-top: $space-sm;
      padding-right: $space-sm;
      font-size: 12px;
      font-style: italic;
      float: right;
      text-align: right;
      font-weight: 500;
    }

    .cal-hour {
      background-color: $white;
      border-top: 1px solid $black-20;
      max-height: 35px;
    }
  }
}
