
<div class="cal-menu-container col-4_xs-12_sm-12_md-12_lg-4">

  <!--
    verticalMenuIndex es una variable numérica del componente que le indica al menú
    qué pestaña debe seleccionar. Así mismo, el menú le indica el número de la pestaña
    que el usuario seleccione. El primer index del menú comienza en 0.
  -->
  <mat-tab-group [(selectedIndex)]="verticalMenuIndex">
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="material-icons">
          search
        </i>
      </ng-template>
        <app-filter></app-filter>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="material-icons">
          bar_chart
        </i>
      </ng-template>

      <app-display-classes [calendarList]="calendarList"></app-display-classes>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <i class="material-icons">
          shopping_cart
        </i>
      </ng-template>
      <h2>Carrito de compras</h2>

    </mat-tab>
  </mat-tab-group>
</div>

<div class="cal-schedule-container col-8_xs-12_sm-12_md-12_lg-8">

  <div class= "cal-alternatives-paginator">
      <div class="cal-alt-title-div">
        <label for="cal-alt-title">Titulo:</label>
        <input type="text" id="cal-alt-title" name="Alternative Title" maxlength="25" [(ngModel)]="alternativeTitles[currentAlternative]">
      </div>
      <div class="cal-alt-radio-group">
        <label class="cal-radio-container" *ngFor='let ind of alternativeIterationArray '>
            <input type="radio" name="cal-alternative" [value]=ind [(ngModel)]="currentAlternative" (change)="onItemChange(ind)">
            <span class="atom-radio-btn"></span>
        </label>
     </div>
  </div>
  <!--
    Los pasos para personalizar el Calendario fueron tomados de aquí https://github.com/mattlewis92/angular-calendar#how-do-i-use-a-custom-template
    La diferencia entre esta plantilla y la plantilla por defecto es que en esta no se muestra la fecha del día, sólo el nombre.
  -->
  <ng-template #customTemplateJPlanner let-days="days" let-locale="locale" let-dayHeaderClicked="dayHeaderClicked"
    let-eventDropped="eventDropped">
    <div class="cal-day-headers">
      <div class="cal-header" *ngFor="let day of days; trackBy:trackByWeekDayHeaderDate" [class.cal-past]="day.isPast"
        [class.cal-today]="day.isToday" [class.cal-future]="day.isFuture" [class.cal-weekend]="day.isWeekend" [ngClass]="day.cssClass"
        (mwlClick)="dayHeaderClicked.emit({day: day})" mwlDroppable dragOverClass="cal-drag-over" (drop)="eventDropped.emit({event: $event.dropData.event, newStart: day.date})">
        <b>{{ day.date | calendarDate:'weekViewColumnHeader':locale }}</b>
        <br>
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="customTemplate || defaultTemplate" [ngTemplateOutletContext]="{days: days, locale: locale, dayHeaderClicked: dayHeaderClicked, eventDropped: eventDropped}">
    </ng-template>
  </ng-template>

  <br />

  <!--
    Los atributos de las vistas que cambiaron fueron:
    * hourSegments: de 2 a 1
    * dayStartHour: de 0 a 7
    * dayEndHour: de 23 a 22
  -->
  <div cdkDropList #calendarList="cdkDropList" (cdkDropListDropped)="dropClass($event)" class="grid-noGutter">
    <mwl-calendar-week-view [viewDate]="viewDate" [events]="classes" [refresh]="refresh" [hourSegments]="1"
      [dayStartHour]="7" [dayEndHour]="22" [headerTemplate]="customTemplateJPlanner" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)" class="sm-hidden col-12">
    </mwl-calendar-week-view>
    <div class="cal-display-sm col-12">
      <!--
        Este grupo de botones se usan para probar el cambio de días en la vista
        <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
            Previous
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
            Today
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
            Next
          </div>
        </div>
      -->
      <div>
        <b>{{ viewDate | calendarDate:'weekViewColumnHeader':locale }}</b>
      </div>
      <div (swipe)="onSwipe($event)">
      <mwl-calendar-day-view [viewDate]="viewDate" [events]="classes" [refresh]="refresh" [hourSegments]="1"
        [dayStartHour]="7" [dayEndHour]="22" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
    </div>
  </div>

</div>