.mat-tab-label {
    
  min-height: 56px;
  padding-top: 2px;
  border: solid 2px #2c5697;
  min-width: 56px;
  padding: 0;
  color: #2c5697;

  &:hover{
    min-height: 56px;
    min-width: 56px;
    border: solid 2px #2c5697;
    background-color: #d4dce9;
    color:white;
  }
}

.mat-tab-label-active {
   padding-top: 2px;
  min-width: 56px;
  min-height: 56px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #f8cd00;
  background-color: #fcea98;
  color: white;
}

.mat-tab.label-disabled{
  padding-top: 2px;
  min-width: 56px;
  min-height: 56px;
border: solid 2px #d4dce9;
color: "#d4dce9"

}

.atom-buttons{
  border-radius: $space-xs;
  font-family: $font-main;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: $light-blue;
  border: solid 1px $light-blue;
  background-color: $white;
  padding: 8px 12px 8px 12px;
  @media (min-width: 1025px) and (max-width: 1159px){
    margin-right: 0px;
  }
  margin-right: 12px;
  margin-bottom: 8px;

  i{
    vertical-align: middle;
    margin-left: 8px;
  }
  &:hover{    
    border: solid 1px $light-blue-50;
    color: $light-blue-50
  }
  &:active{
    border: solid 1px $light-blue-20;
    color: $light-blue-20
  }
  &:disabled{
    border: solid 1px $black-50;
    color: $black-50;  
  }
  &:focus{
      outline: none;
  }

}

.atom-buttons-secondary{
  background-color: $white;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  text-decoration: underline;
  color: $black-20;
  border: solid 1px $black-30;
  padding: 8px 24px 8px 24px;

  &:hover{    
    border: solid 1px $black;
    color: $black;
  }
  &:active{
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px $black-50;
    background-color: $white;
    color: $black-50;
  }
  &:disabled{
    border: solid 1px $black-30;
    background-color: $black-50;
    color: $black-20; 
  }
  &:focus{
    outline: none;
  }
}

.atom-buttons-primary{
  border-radius: $space-xs;
  background-color: $light-blue;
  font-family: $font-main;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  border-style: none;
  border: solid 1px $light-blue;
  padding: 8px 16px 8px 16px;

  i{
    vertical-align: middle;
    margin-left: 8px;
  }
  &:hover{    
    background-color: $light-blue-50;
    border: solid 1px $light-blue-50;
  }
  &:active{
    background-color: $light-blue-20;
    border: solid 1px $light-blue-20;
  }
  &:disabled{
    border: solid 1px $black-50;
    background-color: $white; 
    color: $black-50;
  }
  &:focus{
      outline: none;
  }
}

.atom-buttons-secondary-first-selected{
  background-color: $white;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  text-decoration: underline;
  color: $black;
  border: solid 1px $black;
  padding: 8px 24px 8px 24px;
  &:active{
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px $black-50;
    background-color: $white;
    color: $black-50;
  }
  &:disabled{
    border: solid 1px $black-30;
    background-color: $black-50;
    color: $black-20; 
  }
  &:focus{
    outline: none;
  }
}