.atom-dropdown{
    border: solid 1px $dark-blue;
    border-radius: $space-xs;
    padding-left: $space-md;
    font-family: $font-secondary;
    font-size: 16px;
    height:$space-xl;
  
    &:hover:not(:active):not(:focus):not(:disabled){
        border-color:$yellow;
    }
    &:active,&:focus{
        border-color:$light-blue-90;
        outline: none;
    }
    &:disabled{
        border-color:$black-70;       
    }
  }

.atom-dropdown option{
    &:hover:not(:disabled){
        background-color:$yellow-60;
    }
    &:disabled{
        background-color: $black-20;       
    }
}