/*the container must be positioned relative:*/
.atom-dropdown {
    position: relative;
    font-family: 'Helvetica';
    font-style: italic;
    font-size: 16px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: $white;
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    overflow: hidden;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: $black;
    padding: 8px 16px;
    border: 1PX solid $black;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    padding-left: 12px;
    
    /* Bordes circulares */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: $white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    
    /* Bordes circulares */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: $light-blue;
    color: $white;
  }