.atom-input-field{
    border: solid 1px $black-40;
    border-radius: $space-xs;
    padding-left: $space-md;
    font-family: $font-secondary;
    font-size: 16px;
    height:$space-xl;
    margin-left: $space-sm;

    margin-top: 6px;
    width: 100%;
    max-width: calc(100% - 24px);

    &:hover:not(:active):not(:focus):not(:disabled){
        border-color:$light-blue-90;
    }
    &:active,&:focus{
        border-color:$dark-blue;
        outline: none;
    }
    &:disabled{
        border-color:$black-30;    
        background-color:$black-30;
    }
}

.atom-input-field-title{
    width: 20% !important;
    flex-basis: 91.66667% !important;
    max-width: 90% !important;
}

.atom-alternative-input-field{

    background-color: $white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: $font-secondary;
    font-size: 18px;
    font-weight: 300;
    font-style: oblique;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:$black;

    &:disabled{
        width: 330px;
        height: 32px;
        background-color: $black-10; 
    }
}