/* Customize the label (the cal-radio-container) */
.cal-radio-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: $space-lg;
    height: $space-lg;
  
    input[type=radio]{
        opacity: 0;
        cursor: pointer;
        width: $space-lg;
        height: $space-lg;
        &:disabled ~ .atom-radio-btn{
            border-color: $dark-blue-50;
            &:after{
                display:none;
            }
        }
        &:checked ~ .atom-radio-btn{
            background-color: $white;
            border-color: $yellow;

            &:after{
                content:'';
                position: absolute;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
                left: 50%;
                width: $space-xs;
                height: $space-xs;
                border-radius: 50%;
                background: $yellow ;
            }
        }
    }
  

  /* Create a custom radio button */
    .atom-radio-btn {
        position: absolute;
        top: 0;
        left: 0;
        height: $space-lg;
        width: $space-lg;
        background-color: $white;
        border: solid 2px $dark-blue;
        border-radius: 50%;
       
    }

    &:hover{
        input[type=radio]:not(:checked)~ .atom-radio-btn{
            background-color: $dark-blue-20;
            border-color: $dark-blue;
            &:after{
                display:none;
            }
        } 
    }

    
}