/* Style the header with a background and some padding */
.header {
    overflow: hidden;
    background-color: $dark-blue-90;
    padding: 5px 10px;
}

.header a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  border-radius: 4px;
  padding-left: 15px;
}