body {
  margin: 0;
  zoom: 0.95;

  &.float-open{
    overflow: hidden;
  }
}

.cmp-header {
    overflow: hidden;
    background-color: $dark-blue-90;
    max-height: 64px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;

    a {
      color: $white;
      float: left;
      text-align: center;
      padding-left: 8px;
      margin-left: 12px;
      padding-top: 8px;
      padding-bottom: 4px;
      text-decoration: none;
      font-size: 25px;
      font-weight: bold;
      line-height: 25px;
      border-left: 2px solid $white;
    }

    img {
      float: left;
      padding-top: 4px;
      padding-bottom: 4px;
    }

    div p {
      color: $white;
      padding-top: 8px;
      padding-bottom: 4px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      margin: 0px;
    }

}

.cmp-header-right {
  float: right;
}

* {
  box-sizing: border-box;
}
.jplannerTittle{
  @media (max-width: $vp-mobile) {
    
    display: none;
  }
}
#information-msj{
  transition: opacity 600ms, visibility 600ms;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  height:0;
  color: $white;
  &.displayed{
    opacity: 1;
    visibility: visible;
    height: auto;
    min-height: 50px;
    margin-bottom: 10px;
    
    &.success{
      background:$green-90;
    }
    &.alreadyAdded,&.block{
      background:$red-90;
    }
  }
}
.app-blocked-menu{
  position: fixed;
  background: $black;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.app-float-btn-cross,.app-float-btn-x{
  position: fixed;
  bottom:21px;
  @media (max-width: $vp-mobile) {
    bottom:70px;
  }
  right:28px;
  z-index: 200;
  border: 20px solid;
  border-radius: 50%;
  color:$light-blue;
  opacity: 0.5;

  .btn-icon{
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:$white;
  }
  &:hover{
    cursor: pointer;
  }
  
}

.app-float-btn-x{
  color:$red;
  opacity: 1;
}

.app-menu-options{
  position: fixed;
  bottom:32px;
  right:29px;
  z-index: 205;
  list-style-type: none;
  @media (max-width: $vp-mobile) {
    bottom: 85px;
  }
  li{
    a{
      display: block;
      margin-bottom: 32px;
      color:$white;
      font-family: $font-secondary;
      font-size: $space-md;
      position: relative;
      text-align: right;    
     
    i{
      position: absolute;
      background: $light-blue;
      border-radius: 50%;
      right:0;
      font-size: 27px;
      bottom: -10px;
      padding:6px;
      &:hover{
        cursor: pointer;
      }
    }
    p{
      position: relative;
      right: 55px;
      font-weight: bold;
      font-size:16px;
    }
  }
  }
}

.hidden-desktop {
  @media (min-width: $vp-tablet) {
    display: none;
  }
}


#slider-container{
  .slideshow-container{
    .slides{
      &:focus{
        outline:0;
      }
    }
  }
  .slick-dots{
    li{
      button{
        &::before{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.mat-ink-bar{
  display:none
}