<div class="cls-mod-small">
  <h2 mat-dialog-tittle> Datos de la Materia: </h2>
  <b>ID Curso: </b><span>{{ subject.nIdCurso }}</span><br />
  <b>Número de clase: </b><span>{{ subject.numeroClase }}</span><br />
  <b>Nombre: </b><span>{{ subject.nombre }}</span><br />
  <b>Profesor: </b><span>{{ subject.profesor }}</span><br />
  <b>Creditos: </b><span>{{ subject.creditos }}</span><br />
  <b>Cupos totales: </b><span>{{ subject.cuposTotales }}</span><br />
  <b>Cupos disponibles: </b><span>{{ subject.cuposDisponibles }}</span><br />
  <b>Modo enseñanza: </b><span>{{ subject.modoEnsenanza }}</span><br />
  <b>Estado: </b><span>{{ subject.estado }}</span><br />
  <b>Grado: </b><span>{{ subject.grado }}</span><br />
  <b>Unidad académica: </b><span>{{ subject.unidadAcademica }}</span><br />
  <b>Puede ver la materia: </b><span>{{ subject.puedeVerMateria }}</span><br />

  <div>
  <b>Prerrequisito: </b>
  <ul>
    <li *ngFor="let prerrequisito of subject.prerrequisito">
      {{ subject.prerrequisito }}
    </li>
  </ul>
</div>
  <b>Ciclo Lectivo: </b><span>{{ subject.cicloLectivo }}</span><br />
  <b>Descripción: </b><span>{{ subject.descripcion }}</span><br />
  <div>
    <b>Horario: </b>
    <ul>
      <li *ngFor="let h of subject.horarios">
        <ul>
          <li>{{ h.salon }}</li>
          <li>{{ textToDate( h.horaInicio) | date:'EEEE, MMMM d, y, H:mm:ss':locale }}</li>
          <li>{{ textToDate( h.horaFin) | date:'EEEE, MMMM d, y, H:mm:ss':locale }}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>