<!--The content below is only a placeholder and can be replaced.-->
<div id="slider-container" #sliderContainer>
  <h1 style="text-align:center">
    {{guideTitles[slideshow.slideIndex]}}
  </h1>
  <div style="display:block;"
       [style.width]="width">
    <slideshow #slideshow
               [imageUrls]="imageUrls"
               [height]="height"
               [minHeight]="minHeight"
               [arrowSize]="arrowSize"
               [showArrows]="showArrows"
               [disableSwiping]="disableSwiping"
               [autoPlay]="autoPlay"
               [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
               [debug]="debug"
               [backgroundSize]="backgroundSize"
               [backgroundPosition]="backgroundPosition"
               [backgroundRepeat]="backgroundRepeat"
               [showDots]="showDots"
               [dotColor]="dotColor"
               [showCaptions]="showCaptions"
               [captionColor]="captionColor"
               [captionBackground]="captionBackground"
               [lazyLoad]="lazyLoad"
               [hideOnNoSlides]="hideOnNoSlides"
               [fullscreen]="fullscreen"
               [dotColor]="dotColor">
    </slideshow>
  </div>
</div>
<ul class="slick-dots" *ngIf="showDots">
    <li *ngFor="let imageUrl of imageUrls; let i = index"
        (click)="goTo(i)">
      <button type="button"
              [attr.style]="safeStyleDotColor">
        {{i}}
      </button>
    </li>
  </ul>
