.filter-btn{
    height: 40px;
    margin: 5px;
    margin-top: 10px;
    font-size: 12px;
    min-width: 25%;
}
.classes{
    min-height: 100px;
}

.found-classes {
    margin-left: 10px;
    height: 67vh;
    overflow-y: scroll;
}