<h2>Clases</h2>
<div>
  <h5 style="font-size: 15px">Número de clases encontradas en la busqueda: <u>{{this.numberClasses}} </u> </h5>

  
</div>
<br>
<div
  class="dis-found-classes"
  cdkDropList
  #classesList="cdkDropList"
  [cdkDropListData]="classes"
  [cdkDropListConnectedTo]="calendarList"
  (cdkDropListDropped)="dropInside($event)">
  {{this.error}}
  <!-- Se recorre la lista de materias y se crea un app-display-class por cada materia -->
  <div *ngFor="let class of classes" cdkDrag>
    <app-display-class [subject]="class"></app-display-class>
  </div>
  
</div>

