.cal-alternatives-paginator{
    .cal-alt-title-div{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        label{
            padding-right: 10px;
            width: 91px;
            height: 29px;
            font-family: $font-secondary;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: $black;
                    

        }
    }
    .cal-alt-radio-group {
        text-align: center;
        .cal-radio-container{
            margin: $space-xs;
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .cal-alt-number-credits {
        text-align: right;
        font-family: $font-secondary;
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: $black;
        margin-top: 10px;
        .number-credits {
            font-weight: bold;
        }
    }
}