
.small {
    font-size: 8px;
}
#basic-search{
    .dropdown-specific-field{
        .dropdown-list{
            margin-bottom:10px;
        }
    }
    #week-hours{
        width: 100%;
        label[for="week-hours"]{
            display: block;
        }
        .hour-dropdown{
            float:left;
            padding: 10px;
                &#hourTo {
                    display: none;
                }
        }
    }
}
#class-size{
    display: inline-block;
}
.search-container{
    input {
         padding: 3px;
     }
 }