<h2 class="cal-sc-title">Materias de {{altTitle}}</h2>
<hr>
<div>

  <div class="alert" *ngIf="conflict">
    <span class="closebtn"></span>
      Inscripción inhabilitada debido a conflictos
  </div> 


  <!-- Se recorre la lista de materias agregadas y se crea un app-display-class por cada materia -->
  <div class="grid-2_sm-2_md-4 cal-shopping-cart">
    <div class="cal-shopping-item col" *ngFor="let class of classes">
      <i (click)="removeClass(class.numeroClase)" class="material-icons cal-sh-remove">cancel</i>
      <p class="cal-sh-title">{{titleCaseWord(class.nombre)}}</p>
      <p class="cal-sh-size">Cupos Disponibles: {{class.cuposDisponibles}}</p>

    </div>
  </div>
  <button class="grid-1 cal-enroll-btn atom-buttons-primary" (click)="inscribe()">
    Inscribir
    <i class="material-icons">shopping_cart</i>
  </button>
</div>