@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.dis-cls-subject {
    cursor: move;
    margin-right: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    height: 130px;
    position: relative;
    
    .add-btn{
        cursor: pointer;
        border: solid 2px;
        border-radius: 50%;
        margin-top: 8px;
        position: relative;
        z-index: 50;
    }
    a {
        cursor: pointer;
        font-family: $font-main;
    }
}

.dis-fix-quotas{
    position: absolute;
    width: 100%;
    right: 0
}

.dis-fix-classes{
    height: 80px;
}