@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.dis-cls-subject {
    cursor: move;
    margin-right: 12px;
    margin-bottom: 12px;
    margin-left: 12px;

    a {
        cursor: pointer;
        font-family: $font-main;
    }
}