@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.dis-cls-subject {
    cursor: move;
    margin-right: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    
    .add-btn{
        cursor: pointer;
        border: solid 2px;
        border-radius: 50%;
    }
    a {
        cursor: pointer;
        font-family: $font-main;
    }
}